Repository ikuseiGmbH/smart-village-app-humhub-ext, pull requests merged in 2022-05, with the labels that each got.

#12 Add registration endpoint
  Events.php
  Module.php
  components/AuthBaseController.php
  controllers/user/GroupController.php
  controllers/user/UserController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: api, core

#14 Add endpoint for membership requests
  Events.php
  components/AuthBaseController.php
  controllers/user/GroupController.php
  controllers/user/MembershipController.php
  controllers/user/UserController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: api, space

#16 Add read/unread status of conversations
  Events.php
  Module.php
  controllers/mail/MessageController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: api, mail

#18 Add endpoint to mark unread conversations as read
  Events.php
  controllers/mail/EntryController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: api, mail

#23 Versioning
  module.json
Labels: module

#25 Marking a conversation 'read' must not update its updated_at
  controllers/mail/EntryController.php
Labels: bug, api, mail

#27 Avoid legal module or set checkbox with registration #22
  controllers/user/UserController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: bug, api

#26 docs: create changelog for 0.1 and 0.2
  CHANGELOG.md
Labels: documentation, module

#19 Allow to read public contents without login through API
  Events.php
  controllers/calendar/CalendarController.php
  controllers/post/PostController.php
  controllers/space/SpaceController.php
  docs/postman/Smart Village API.postman_collection.json
Labels: api, core
